.cat-container {
  max-width: 600px;
}

.cat-container-gray {
  background-color: #555555;
}

i.colorBlock {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: -3px;
}

// same as in transaction.component.scss
.table {
  tr td {
    padding: 0.75rem 0;
    vertical-align: top;
  }
}

b {
  display: inline-block;
  padding: 1px;
  background-color: white;
  color: #FF9900;
  margin-right: 8px;
}
