<!-- placeholder to avoid page jumps-->
<ng-container *ngIf="!_cat21Transaction">

  <div class="cat-container">
    <svg viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
      <rect x="0" y="0" width="22" height="22" fill="#555555" />
      <text x="3" y="12" font-size="0.1em" fill="white">Loading...

        <animate
        attributeName="fill"
        values="white;transparent"
        begin="0s"
        dur="1s"
        calcMode="discrete"
        repeatCount="indefinite" />
      </text>
    </svg>
  </div>

  <br *ngIf="showDetails">
  <strong>CAT ?</strong><br>

</ng-container>

<ng-container *ngIf="svg && traits && _cat21Transaction">

  <div class="cat-container" [innerHTML]="svg | noSanitize"></div>

  <br *ngIf="showDetails">
  <strong>CAT {{ _cat21Transaction.number }}</strong><br>

  <div class="mt-2 cat-container" *ngIf="showDetails">

    <table class="table table-borderless" class="mt-4">
      <tbody>


        <tr>
          <td><b ngbTooltip="The first cat owner (Address that received the first output of the mint transaction)">i</b>First Owner&nbsp;</td>
          <td>
            <a href="https://ordpool.space/address/{{ _cat21Transaction.firstOwner }}" target="blank" class="text-white">» {{ _cat21Transaction.firstOwner | shortenString }}</a>
          </td>
        </tr>

        <tr>
          <td><b ngbTooltip="The transactionId where the CAT-21 ordinal was created / minted">i</b>Txn</td>
          <td><a href="https://ordpool.space/tx/{{ _cat21Transaction.transactionId }}" target="blank" class="text-white">» {{ _cat21Transaction.transactionId | shortenString }}</a></td>
        </tr>

        <tr>
          <td><b ngbTooltip="The satoshi that is associated with the cat, according to the ordinal theory.">i</b>Sat</td>
          <td><a href="https://ordinals.com/sat/{{ _cat21Transaction.sat }}" target="blank" class="text-white">{{ _cat21Transaction.sat }}</a></td>
        </tr>

        <tr>
          <td><b ngbTooltip="The paid fee rate that determines the color of the cat.">i</b>Fee Rate</td>
          <td>{{ _cat21Transaction.feeRate | number: '1.1-1' }} sat/vB</td>
        </tr>

        <tr>
          <td colspan="2">
            <hr>
            <strong>Traits</strong><br><br>
          </td>
        </tr>

        <tr>
          <td><b ngbTooltip="Genesis cat or normal cat. Genesis cats are the only white or black cats. Probability: 0.4%">i</b>Origin</td>
          <td>{{ traits.genesis ? 'Genesis cat' : 'Normal cat' }}</td>
        </tr>

        <tr>
          <td><b ngbTooltip="All colors used to paint the cat, excluding the colors of the laser eyes and other traits.">i</b>Cat Colors</td>
          <td>
            <ng-container *ngFor="let color of traits.catColors; last as l">
              <i class="colorBlock mr-2" [ngbTooltip]="color" [ngStyle]="{'background-color': color }"></i>{{ color }}<br *ngIf="!l">
            </ng-container>
          </td>
        </tr>

        <tr>
          <td><b ngbTooltip="The gender (sex) of a cat. There is a 50% chance to receive a female cat.">i</b>Gender</td>
          <td>{{ traits.gender }}</td>
        </tr>

        <tr>
          <td><b ngbTooltip="Design pose of the cat: Standing, Sleeping, Pouncing or Stalking. Same chance for all traits (25%).">i</b>Pose</td>
          <td>{{ traits.designPose }}</td>
        </tr>

        <tr>
          <td><b ngbTooltip="Design expression of the cat: Smile, Grumpy, Pouting or Shy. Same chance for all traits (25%).">i</b>Ex&shy;pres&shy;sion</td>
          <td>{{ traits.designExpression }}</td>
        </tr>

        <tr>
          <td><b ngbTooltip="Design pattern of the cat: Solid, Striped, Eyepatch or Half/Half. Same chance for all traits (25%).">i</b>Pattern</td>
          <td>{{ traits.designPattern }}</td>
        </tr>

        <tr>
          <td><b ngbTooltip="Design facing of the cat: Left or Right. 50% chance.">i</b>Facing</td>
          <td>{{ traits.designFacing }}</td>
        </tr>

        <tr>
          <td><b ngbTooltip="The gorgeous laser eyes trait.
            There is a 20% chance to receive a cat with orange laser eyes, 20% chance for red, 20% chance for green, 20% chance for blue.
            There is a 20% chance to receive no laser eyes at all.">i</b>Laser Eyes</td>
          <td>{{ traits.laserEyes }}</td>
        </tr>

        <tr>
          <td><b ngbTooltip="The background trait. All images have a background.
            There is a 25% chance to receive a cat with a Block 9 background.
            There is a 25% chance to receive a cat with a cyberpunk background.
            There is a 25% chance to receive a cat with a background of the Bitcoin Whitepaper.
            There is a 25% chance to receive a cat with an orange background.
            The orange color is #ff9900.">i</b>Back&shy;ground</td>
          <td>{{ traits.background }}</td>
        </tr>

        <tr>
          <td><b ngbTooltip="All colors that are used to generate the background.">i</b>Bg Colors</td>
          <td>
            <ng-container *ngFor="let color of traits.backgroundColors; last as l">
              <i class="colorBlock mr-2" [ngbTooltip]="color" [ngStyle]="{'background-color': color }"></i>{{ color }}<br *ngIf="!l">
            </ng-container>
          </td>
        </tr>

        <tr>
          <td><b ngbTooltip="The crown trait.
            There is a 10% chance to receive a cat with a crown.
            The crown is golden when the background is not orange.
            The crown is made of diamonds if the background is orange.">i</b>Crown</td>
          <td>{{ traits.crown }}</td>
        </tr>

        <tr>
          <td><b ngbTooltip="The glasses trait.
            There is a 10% chance to receive a cat with black sunglasses.
            There is a 10% chance to receive a cat with cool sunglasses.
            There is a 10% chance to receive a cat with 3D glasses - but ONLY if the cat has no laser eyes!
            There is a 10% chance to receive a cat with nouns glasses - but ONLY if the cat has no laser eyes!">i</b>Glasses</td>
          <td>{{ traits.glasses }}</td>
        </tr>

        <tr *ngIf="traits.glasses !== 'None'">
          <td><b ngbTooltip="All colors that are used to paint the glasses.">i</b>Gl Colors</td>
          <td>
            <ng-container *ngFor="let color of traits.glassesColors; last as l">
              <i class="colorBlock mr-2" [ngbTooltip]="color" [ngStyle]="{'background-color': color }"></i>{{ color }}<br *ngIf="!l">
            </ng-container>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</ng-container>
