.cat-container {
  max-width: 600px;
}

.cat-image {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  aspect-ratio: 1 / 1;

  background: url("/assets/placeholder-cat.svg") center / cover no-repeat;
}

table {
  tr td {
    padding: 0.1rem 0;
    vertical-align: top;
  }
}

b {
  display: inline-block;
  padding: 1px;
  background-color: white;
  color: #FF9900;
  margin-right: 8px;
}
