<ng-container *ngIf="{ cat: cat$ | async, status: status$ | async } as c">
<ng-container *ngIf="c.cat as cat">

  <div class="clearfix">

    <a *ngIf="cat.catNumber > 0" [routerLink]="['/cat', cat.catNumber - 1]"
      class="fw-bold mt-4 mb-4 float-start">« Previous</a>

    <span *ngIf="cat.catNumber === 0"
      class="fw-bold mt-4 mb-4 float-start">&nbsp;</span>

    <a *ngIf="c.status && cat.catNumber < c.status.lastSyncedCatNumber"
      [routerLink]="['/cat', cat.catNumber + 1]"
      class="fw-bold mt-4 mb-4 float-end">Next »</a>

  </div>

  <div class="cat-box">
    <app-cat21-viewer
    [cat]="cat"
    [showDetails]="true" />
  </div>

  <a routerLink="/" class="btn btn btn-primary fw-bold mt-4 mb-4">« Back</a>

</ng-container>
</ng-container>

<ng-container *ngIf="(cat$ | async) === null">
  <div class="mt-4">
    <span class="spinner-border" role="status" style="margin-bottom: -6px;"></span>
    <span class="ms-3" style="font-size: 1.2em;">Loading...</span>
  </div>
</ng-container>
