<h1 class="mt-2">CAT-21</h1>

<p class="mt-2">
  <!-- Did you know? There's a cat hidden in every Bitcoin transaction. Rescue it now! -->

  Did you know? Every Bitcoin transaction can mint a hidden cat.
  Rescue the cats and be part of the movement!

</p>


<h2 class="mt-5" id="mint">Mint a cat</h2>

<ul type="square">
  <li><a href="https://ordpool.space/" target="_blank">with ordpool.space</a></li>
  <li><a href="https://ordimint.com/" target="_blank">with Ordimint</a></li>
  <li><a href="https://github.com/haushoppe/cat-21/blob/main/HOWTO.md" target="_blank">with Electrum</a></li>
</ul>

<ng-container *ngIf="{
  catsPaginated: catsPaginated$ | async,
  routing: routing$ | async,
  testnet: testnet$ | async } as c">

  <ng-container *ngIf="c.catsPaginated as catsPaginated">
    <h2 class="mt-5" id="latest">Minted cats</h2>

    <p class="mb-4">
      Here you see all {{ c?.catsPaginated?.totalResults }} cats that have been revealed so far{{ c.testnet ? ' on testnet' : ''}}.
    </p>

    <div class="row">

      <div *ngFor="let cat of c?.catsPaginated?.cats" class="col-6 col-md-4 col-lg-3">

        <!-- cat image -->
        <a *ngIf="cat" [routerLink]="[(c.testnet ? '/testnet/' : '/') + 'cat', cat.transactionId]">
          <app-cat21-viewer [cat21Transaction]="cat" />
        </a>

        <!-- loading text -->
        <app-cat21-viewer *ngIf="!cat" [cat21Transaction]="undefined" />

      </div>

      <div>
        <ngb-pagination
          class="mt-4 d-flex justify-content-center"
          [collectionSize]="catsPaginated.totalResults"
          [page]="catsPaginated.currentPage"
          [pageSize]="catsPaginated.itemsPerPage"
          aria-label="Page Cats"
          [maxSize]="5"
          [rotate]="true"
          (pageChange)="changePage(catsPaginated.totalResults, catsPaginated.itemsPerPage, $event, !!c.testnet)">
        </ngb-pagination>

        <a [routerLink]="c.testnet ? '/testnet' : '/'" class="float-end">Reload</a>
      </div>

    </div>
  </ng-container>
</ng-container>


<h2 class="mt-2">WTF?</h2>

<p class="mb-3">
  Please read the official <a href="https://github.com/haushoppe/cat-21" target="_blank">Specification</a>!
  Meow!
</p>


<!--
<h2 class="mt-2">FAQs</h2>

<p class="mb-3">
  If you have any outstanding questions,
  <a routerLink="/faq">please refer to our FAQ section.</a>
</p> -->
