<h1 class="mt-2">CAT-21</h1>

<p class="mt-2">
  <!-- Did you know? There's a cat hidden in every Bitcoin transaction. Rescue it now! -->

  Did you know? Every Bitcoin transaction can mint a hidden cat.
  Signal your support for the <code>OP_CAT</code> opcode by creating a transaction with <code>nLockTime</code> set to 21.
  As a reward, you'll receive your very own unique CAT-21 ordinal.
  Be part of the movement!

</p>


<h2 class="mt-5" id="mint">Mint a cat</h2>

<ul type="square">
  <li><a href="https://ordpool.space/" target="_blank">with ordpool.space</a></li>
  <li><a href="https://ordimint.com/" target="_blank">with Ordimint</a></li>
  <li><a href="https://github.com/haushoppe/cat-21/blob/main/HOWTO.md" target="_blank">with Electrum</a></li>
</ul>

<ng-container *ngIf="catsPaginated$ | async as i">

  <h2 class="mt-5" id="latest">Minted cats</h2>

  <p class="mb-4">
    Here you see all {{ i.totalResults }} cats that have been rescued so far.
  </p>

  <div class="row">

    <div *ngFor="let cat of i.cats" class="col-6 col-md-4 col-lg-3">

      <!-- cat image -->
      <a *ngIf="cat" [routerLink]="['/cat', cat.transactionId]">
        <app-cat21-viewer [cat21Transaction]="cat" />
      </a>

      <!-- loading text -->
      <app-cat21-viewer *ngIf="!cat" [cat21Transaction]="undefined" />

    </div>

    <div>
      <ngb-pagination
        class="mt-4 d-flex justify-content-center"
        [collectionSize]="i.totalResults"
        [page]="i.currentPage"
        [pageSize]="i.itemsPerPage"
        aria-label="Page Cats"
        [maxSize]="5"
        [rotate]="true"
        (pageChange)="changePage(i.totalResults, i.itemsPerPage, $event)">
      </ngb-pagination>

      <a href="javascript:void(0)" class="float-end" (click)="changePage(defaultItemsPerPage, defaultItemsPerPage, 1)">Reload</a>
    </div>

  </div>

</ng-container>


<h2 class="mt-2">WTF?</h2>

<p class="mb-3">
  Just <a href="https://github.com/haushoppe/cat-21" target="_blank">RTFM</a>!
  Meow!
</p>


<!--
<h2 class="mt-2">FAQs</h2>

<p class="mb-3">
  If you have any outstanding questions,
  <a routerLink="/faq">please refer to our FAQ section.</a>
</p> -->
