# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
.idea
.project
.classpath
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json

# misc
coverage
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db

# Config with sensitive information
.env

# Angular cache
.angular

# Drizzle
backend/migrations/meta
