<hr class="mt-5">
<p class="text-muted">
  <!-- © 2024 by Johannes Hoppe |
  <a routerLink="/presskit" class="text-decoration-none"> Presskit</a> |
  <a href="https://twitter.com/HausHoppe" class="text-decoration-none bi bi-twitter" target="_blank"> Twitter</a> |
  <a href="https://discord.gg/F25NEDuyEb" class="text-decoration-none bi bi-discord" target="_blank"> Discord</a> |
  <a href="https://linktr.ee/haushoppe" class="text-decoration-none bi bi-house" target="_blank"> All our projects</a> -->

  By <a href="https://twitter.com/HausHoppe" class="text-decoration-none bi bi-twitter" target="_blank">HAUS HOPPE</a> |

  Switch to <a [routerLink]="testnet ? '/' : '/testnet'" class="text-decoration-none">
    {{ testnet ? 'Mainnet' : 'Testnet' }}
  </a>
</p>
