@font-face{
  font-family: "Public Pixel";
  src: url("fonts/public-pixel.eot");
  src: url("fonts/public-pixel.eot?#iefix")format("embedded-opentype"),
      url("fonts/public-pixel.woff")format("woff"),
      url("fonts/public-pixel.woff2")format("woff2"),
      url("fonts/public-pixel.ttf")format("truetype"),
      url("fonts/public-pixel.svg#Public Pixel")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}
