<h1 class="mt-2">CAT-21</h1>

<p class="mt-2">
  Did you know? Every Bitcoin transaction can mint a hidden cat.
  Rescue the cats and be part of the movement!
</p>

<h2 class="mt-5" id="mint">Mint a cat</h2>

<ul type="square">
  <li><a href="https://ordpool.space/cat21-mint" target="_blank">with ordpool.space</a></li>
  <!-- <li><a href="https://ordimint.com/inscribe/cat-21" target="_blank">with Ordimint</a></li> -->
  <li><a href="https://github.com/ordpool-space/cat21/blob/main/HOWTO.md" target="_blank">or manually with Electrum</a></li>
</ul>

@if (catsPaginated$ | async; as catsPaginated) {
  <h2 class="mt-5" id="latest">Minted cats</h2>
  <p class="mb-4">
    Here you see all {{ catsPaginated.total }} cats that have been minted so far.
  </p>
  <div class="row">
    @for (cat of catsPaginated.cats; track cat) {
      <div class="col-4 col-md-3 col-lg-2">
        <!-- cat image -->
        @if (cat) {
          <a [routerLink]="['/cat', cat.catNumber]">
            <app-cat21-viewer [cat]="cat" />
          </a>
        }
        <!-- loading text -->
        @if (!cat) {
          <app-cat21-viewer [cat]="undefined" />
        }
      </div>
    }
    @if (catsPaginated.total > 0) {
      <div>
        <ngb-pagination
          class="mt-4 d-flex justify-content-center"
          [collectionSize]="catsPaginated.total"
          [page]="catsPaginated.currentPage"
          [pageSize]="catsPaginated.itemsPerPage"
          aria-label="Page Cats"
          [maxSize]="7"
          [rotate]="true"
          [ellipses]="true"
          [boundaryLinks]="true"
          (pageChange)="changePage(catsPaginated.total, catsPaginated.itemsPerPage, $event)">
          <ng-template ngbPaginationEllipsis>&hellip;</ng-template>
          <ng-template ngbPaginationFirst>&laquo;</ng-template>
          <ng-template ngbPaginationPrevious>&lt;</ng-template>
          <ng-template ngbPaginationNext>&gt;</ng-template>
          <ng-template ngbPaginationLast>&raquo;</ng-template>
        </ngb-pagination>
        <a (click)="reload()" class="float-end" role="button">Reload</a>
      </div>
    }
  </div>
}

<h2 class="mt-5">WTF?</h2>

<p class="mb-3">
  Please read the official <a href="https://github.com/ordpool-space/cat21" target="_blank">Specification</a>!
  Meow!
</p>
